<div class="component">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <div class="component-title">
        <h1 class="display-4 component-title">About us</h1>
      </div>

      <p class="lead">
        <span class="somos"> Somos Tango Stockholm</span> was born many years
        ago in the hearts of four friends and colleagues who shared a vision in
        Buenos Aires. Sara, Juampi, Adrián and Dulce dreamed of creating a space
        in which tango could be spread as the treasure it is: an exquisite form
        of art, a healing practice, a socializing activity, a life-changing
        passion. Based on the values of respect, professionalism and kindness,
        <span class="somos"> Somos Tango Stockholm</span> opens its doors to
        every person in the community who wishes to discover the fantastic world
        of Argentine Tango. Our goal is to provide a safe and fun environment
        where you can learn your first steps and get familiar with the tango
        culture.
        <br />
        <br />
        We also strive to be a school where dancers can develop their skills to
        the highest level. Get ready to learn the technique and the knowledge
        that will help you reach the high quality dance that you’re craving for,
        in an efficient and organic way. Come join us, and let’s tango together!
      </p>
      <hr class="my-4" />
      <p>Get to know our teachers:</p>
    </div>
  </div>
</div>

<main class="about-teachers">
  <div class="cards">
    <div class="cards-content">
      <h2 class="title">Dulce Lauria</h2>
      <p class="copy">
        As a sensitive dancer with analytical wits and years of teaching
        experience, Dulce loves to guide students in their tango process with an
        emphatic and practical approach.
      </p>
      <!--<button class="btn">Book classes</button>-->
    </div>
  </div>
  <div class="cards">
    <div class="cards-content">
      <h2 class="title">Adrian Ferreyra</h2>
      <p class="copy">
        A dedicated and passionate tango dancer and teacher for most of his
        life, Adrian is known for his capacity to see through their students and
        find the right tools to help them.
      </p>
      <!--<button class="btn">Book classes</button>-->
    </div>
  </div>
  <div class="cards">
    <div class="cards-content">
      <h2 class="title">Sara Westin</h2>
      <p class="copy">
        Sara, with years of experience in ballet and tango, is known for her
        patience and her unconditional love for her students. Each class is an
        opportunity for her to transmit her passion for dance and her ability to
        teach with clarity and dedication. With a smile on her face and a
        positive attitude, Sara inspires her students to push their limits and
        enjoy every step of the way towards their personal tango.
      </p>
      <!--<button class="btn">Book classes</button>-->
    </div>
  </div>
  <div class="cards">
    <div class="cards-content">
      <h2 class="title">Juan Pablo Canavire</h2>
      <p class="copy">
        Juampi is the type of teacher who truly cares about his students and
        goes above and beyond to understand their needs. With his passion for
        teaching, combined with his patience, wealth of experience, technical
        knowledge, sensitivity and great sense of humor, Juampi is a joy to
        learn from and helps students find their own unique path in their tango.
      </p>
      <!--<button class="btn">Book classes</button>-->
    </div>
  </div>
</main>
