<div class="about-school">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">About</h1>
      <p class="lead">
        About Somos Tango Stockholm. About Somos Tango Stockholm. About Somos
        Tango Stockholm. About Somos Tango Stockholm. About Somos Tango
        Stockholm. About Somos Tango Stockholm. About Somos Tango Stockholm.
        About Somos Tango Stockholm. About Somos Tango Stockholm. About Somos
        Tango Stockholm.
      </p>
      <hr class="my-4" />
      <p>Get to know our teachers:</p>
    </div>
  </div>
</div>

<main class="about-teachers">
  <div class="cards">
    <div class="cards-content">
      <h2 class="title">Dulce Lauria</h2>
      <p class="copy">
        About Dulce. About Dulce. About Dulce. About Dulce. About Dulce. About
        Dulce. About Dulce. About Dulce. About Dulce. About Dulce. About Dulce.
        About Dulce. About Dulce. About Dulce.
      </p>
      <button class="btn">Book classes</button>
    </div>
  </div>
  <div class="cards">
    <div class="cards-content">
      <h2 class="title">Adrian Ferreyra</h2>
      <p class="copy">
        About Adrian. About Adrian. About Adrian. About Adrian. About Adrian.
        About Adrian. About Adrian. About Adrian. About Adrian. About Adrian.
        About Adrian. About Adrian. About Adrian.
      </p>
      <button class="btn">Book classes</button>
    </div>
  </div>
  <div class="cards">
    <div class="cards-content">
      <h2 class="title">Sara Westin</h2>
      <p class="copy">
        About Sara. About Sara. About Sara. About Sara. About Sara. About Sara.
        About Sara. About Sara. About Sara. About Sara. About Sara. About Sara.
        About Sara. About Sara. About Sara.
      </p>
      <button class="btn">Book classes</button>
    </div>
  </div>
  <div class="cards">
    <div class="cards-content">
      <h2 class="title">Juan Pablo Canavire</h2>
      <p class="copy">
        About Juampi. About Juampi. About Juampi. About Juampi. About Juampi.
        About Juampi. About Juampi. About Juampi. About Juampi. About Juampi.
        About Juampi. About Juampi. About Juampi.
      </p>
      <button class="btn">Book classes</button>
    </div>
  </div>
</main>
