<div class="component">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <div class="component-title">
        <h1 class="display-4 component-title">About us</h1>
      </div>

      <p class="lead">
        Somos Tango Stockholm was born many years ago in the hearts of four
        friends and colleagues who shared a vision in Buenos Aires. Sara,
        Juampi, Adrián and Dulce dreamed of creating a space in which tango
        could be spread as the treasure it is: an exquisite form of art, a
        healing practice, a socializing activity, a life-changing passion. Based
        on the values of respect, professionalism and kindness, Somos Tango
        Stockholm opens its doors to every person in the community who wishes to
        discover the fantastic world of Argentine Tango. Our goal is to provide
        a safe and fun environment where you can learn your first steps and get
        familiar with the tango culture.
        <br />
        <br />
        We also strive to be a school where dancers can develop their skills to
        the highest level. Get ready to learn the technique and the knowledge
        that will help you reach the high quality dance that you’re craving for,
        in an efficient and organic way. Come join us, and let’s tango together!
      </p>
      <hr class="my-4" />
      <p>Get to know our teachers:</p>
    </div>
  </div>
</div>

<main class="about-teachers">
  <div class="cards">
    <div class="cards-content">
      <h2 class="title">Dulce Lauria</h2>
      <p class="copy crispAlign">
        Acquired her love for tango at the age of 18. She teached at DNI Tango
        School for over six years.
        <br />
        Seeking to enhance her expressivity and to deepen her understanding of
        biomechanics, Dulce became a yoga instructor and trained in contemporary
        dance.
      </p>
      <!--<button class="btn">Book classes</button>-->
    </div>
  </div>
  <div class="cards">
    <div class="cards-content">
      <h2 class="title">Adrian Ferreyra</h2>
      <p class="copy">
        A native of Buenos Aires, who's been a dedicated tango dancer and
        teacher for most of his life. For 12 years, he was an integral part of
        the DNI Tango School, where not only he served as a teacher, but also
        mentored other teachers as pedagogic chief.
      </p>
      <!--<button class="btn">Book classes</button>-->
    </div>
  </div>
  <div class="cards">
    <div class="cards-content">
      <h2 class="title">Sara Westin</h2>
      <p class="copy">
        About Sara. About Sara. About Sara. About Sara. About Sara. About Sara.
        About Sara. About Sara. About Sara. About Sara. About Sara. About Sara.
        About Sara. About Sara. About Sara.
      </p>
      <!--<button class="btn">Book classes</button>-->
    </div>
  </div>
  <div class="cards">
    <div class="cards-content">
      <h2 class="title">Juan Pablo Canavire</h2>
      <p class="copy">
        About Juampi. About Juampi. About Juampi. About Juampi. About Juampi.
        About Juampi. About Juampi. About Juampi. About Juampi. About Juampi.
        About Juampi. About Juampi. About Juampi.
      </p>
      <!--<button class="btn">Book classes</button>-->
    </div>
  </div>
</main>
