<div class="courses mb-0">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Class descriptions</h1>
      <hr class="my-4" />
    </div>
  </div>

  <div class="container mb-5">
    <div class="row">
      <div class="col-lg-9 mt-4">
        <div class="accordion accordion-flush" id="accordionFlushCourses">
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapseOne"
                aria-expanded="false"
                aria-controls="flush-collapseOne"
              >
                Beginner
              </button>
            </h2>
            <div
              id="flush-collapseOne"
              class="accordion-collapse collapse"
              aria-labelledby="flush-headingOne"
              data-bs-parent="#accordionFlushCourses"
            >
              <div class="accordion-body">
                <strong>Tango Level 1:</strong>
                <br />
                START HERE. If this is your first time trying tango, then this
                is the class for you. No experience & no partner needed. Simply
                show up! In this class, you will learn the fundamentals of
                argentine tango, such as the embrace, the roles within the
                couple and their interaction. Basic movements will be introduced
                to get you dancing from day 1. Become a part of this magical
                dance!
                <br />
                Once you feel acquainted with the contents of this course,
                you’ll be ready to step up to Tango ½.
                <br />
                <hr />
                <strong>Tango Level ½:</strong>
                <br />
                Beginners' lesson for those with little to no experience. If you
                have already taken your first steps in our school or others, but
                intermediate classes seem too far out of your reach yet, then
                this is the place for you. If this is your first time and can’t
                make it to Tango 1, you are also welcome to start here but
                expect a rather challenging class.
                <br />
                In Tango ½ we continue consolidating the fundamentals while
                building up your comprehension of the dance and your repertoire
                of movements. The goal of this course is that you can
                confidently execute basic sequences without interrupting the
                flow of the dance.
                <br />
                Enjoy the results of your hard work soon enough, stepping up to
                Tango 3.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapseTwo"
                aria-expanded="false"
                aria-controls="flush-collapseTwo"
              >
                Intermediate
              </button>
            </h2>
            <div
              id="flush-collapseTwo"
              class="accordion-collapse collapse"
              aria-labelledby="flush-headingTwo"
              data-bs-parent="#accordionFlushCourses"
            >
              <div class="accordion-body">
                <strong>Tango Level 3:</strong>
                <br />
                At this level, we help you become a confident social dancer. We
                will cover the elements that show up in the milonga as well as
                different combinations between them. You will also adventure
                into different dynamics and qualities, focusing on clean
                execution and strong communication with your partner.
                <br />
                To be able to follow this class comfortably and to be a suitable
                partner for your classmates to practice with, It is important
                that you have spent enough time in the beginner courses (Tango 1
                and Tango ½). Some experience and understanding of the
                fundamentals are required.
                <hr />
                <strong>Milonga Level 3:</strong>
                <br />
                Make milonga your favorite tanda! Develop your rhythm and speed,
                in cadency with the music. Learn how to make your movements
                smaller and precise. Add playfulness and variety to your dance.
                Bring your tango skills to this style and discover a whole new
                array of sensations and emotions to enjoy in your dance.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapseThree"
                aria-expanded="false"
                aria-controls="flush-collapseThree"
              >
                Intermediate / Advanced
              </button>
            </h2>
            <div
              id="flush-collapseThree"
              class="accordion-collapse collapse"
              aria-labelledby="flush-headingThree"
              data-bs-parent="#accordionFlushCourses"
            >
              <div class="accordion-body">
                <strong>Tango Level 4:</strong>
                <br />
                In this class, we begin to go deeper into the details of your
                dancing. Knowledge on most elements is expected in this level,
                so that quality may be the main focus. We will work on changing
                music dynamics, combining elements and giving meaning to the
                movements we choose. We will also aim at improving the
                communication within the couple, understanding how we can
                inspire our partner and contribute to the couple’s creativity.
                <hr />
                <strong>Tango Alternativo Level ⅘ :</strong>
                <br />
                Let's do tango, but break a few rules. This is the class in
                which the limits of tango are stretched. We will explore
                movements and music that might not fit the traditional pista, in
                the search for more expressivity and new ways to connect.
                Intermediate to advanced level is required to partake in this
                class.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingFour">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapseFour"
                aria-expanded="false"
                aria-controls="flush-collapseFour"
              >
                Advanced
              </button>
            </h2>
            <div
              id="flush-collapseFour"
              class="accordion-collapse collapse"
              aria-labelledby="flush-headingFour"
              data-bs-parent="#accordionFlushCourses"
            >
              <div class="accordion-body">
                <strong>Tango Level 5:</strong>
                <br />
                Experienced tangueras and tangueros are welcome here to enhance
                their sensitivity and subtlety. In this class, we want to help
                you discover and build your own tango, connect to why you choose
                this dance and learn how to dance from this or any true
                motivation. To achieve that, we will develop expressivity tools
                related to sensations, colors, textures, dynamics and different
                aspects of quality.
                <br />
                Expect more attention to detail, as well as 'out of the box'
                movements or inspirations. Get ready to take your technique and
                your improvisation skills to the next level.
              </div>
            </div>
          </div>
          <div class="accordion accordion-flush" id="accordionFlushCourses">
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingFive">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseFive"
                  aria-expanded="false"
                  aria-controls="flush-collapseFive"
                >
                  Technique & Training
                </button>
              </h2>
              <div
                id="flush-collapseFive"
                class="accordion-collapse collapse"
                aria-labelledby="flush-headingFive"
                data-bs-parent="#accordionFlushCourses"
              >
                <div class="accordion-body">
                  <strong>All Levels:</strong>
                  <br />
                  Develop your individual technique. Train solo and achieve
                  greater control of your body mechanics in all sorts of tango
                  movements and dynamics. We will help you become more free and
                  empowered, as well as a more generous partner to dance with.
                  <br />
                  Among other faculties, you will improve your body awareness,
                  understand what and where your axis is, and learn to connect
                  your parts together for any given tango movement. Dancers of
                  all levels are encouraged to partake in this class.
                </div>
              </div>
            </div>
            <div class="accordion accordion-flush" id="accordionFlushCourses">
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingSix">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseSix"
                    aria-expanded="false"
                    aria-controls="flush-collapseSix"
                  >
                    Private Lesson
                  </button>
                </h2>
                <div
                  id="flush-collapseSix"
                  class="accordion-collapse collapse"
                  aria-labelledby="flush-headingSix"
                  data-bs-parent="#accordionFlushCourses"
                >
                  <div class="accordion-body">
                    <strong>One Private Lesson:</strong>
                    <br />
                    Experience personalized and full attention with a one hour
                    one-on-one private lesson for 800 SEK. Get specific
                    instructions tailored to your unique needs and achieve your
                    goals faster with the help of your teacher.
                    <hr />
                    <strong>Normal Package: </strong>
                    <br />
                    Achieve your goals in a 3-hour long process with a set of 3
                    private lessons for 1900 SEK with the same teacher. Benefit
                    from follow up from class to class and see the progress
                    you've made in each lesson.
                    <hr />
                    <strong>Combo Package:</strong>
                    <br />
                    Improve your skills from different perspectives and practice
                    with different bodies in a 3-hour long process with a combo
                    package of 3 private lessons for 2000 SEK with a combination
                    of teachers. Set your goals and pursue them with the help of
                    teachers who combine forces to ensure you achieve them.
                  </div>
                </div>
              </div>
              <!--
              <div class="accordion accordion-flush" id="accordionFlushCourses">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingSeven">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseSeven"
                      aria-expanded="false"
                      aria-controls="flush-collapseSeven"
                    >
                      xxxx
                    </button>
                  </h2>
                  <div
                    id="flush-collapseSeven"
                    class="accordion-collapse collapse"
                    aria-labelledby="flush-headingSeven"
                    data-bs-parent="#accordionFlushCourses"
                  >
                    <div class="accordion-body">yyyyyy</div>
                  </div>
                </div>
                <div
                  class="accordion accordion-flush"
                  id="accordionFlushCourses"
                >
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingEight">
                      <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseEight"
                        aria-expanded="false"
                        aria-controls="flush-collapseEight"
                      >
                        xxxx
                      </button>
                    </h2>
                    <div
                      id="flush-collapseEight"
                      class="accordion-collapse collapse"
                      aria-labelledby="flush-headingEight"
                      data-bs-parent="#accordionFlushCourses"
                    >
                      <div class="accordion-body">yyy</div>
                    </div>
                  </div>
                </div>
              </div>
              -->
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 course-img">
        <img
          src="assets/images/pexels-sol-pinto-13437106.jpg"
          alt=""
          class="fit-image"
        />
      </div>
    </div>
  </div>
</div>
