<h1>Class description</h1>

<div class="container mb-5">
  <div class="row">
    <div class="col-sm-6 mt-4">
      <div class="accordion accordion-flush" id="accordionFlushCourses">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button
              class="accordion-button collapsed buttonDesign"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseOne"
              aria-expanded="false"
              aria-controls="flush-collapseOne"
            >
              Beginner classes
            </button>
          </h2>
          <div
            id="flush-collapseOne"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingOne"
            data-bs-parent="#accordionFlushCourses"
          >
            <div class="accordion-body">
              We learn simple steps and practice how and when to use them with
              music. The main focus is dancing in an open embrace, practicing
              walking, ochos, the cross, different tempos, cortado.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingTwo">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseTwo"
              aria-expanded="false"
              aria-controls="flush-collapseTwo"
            >
              Intermediate classes
            </button>
          </h2>
          <div
            id="flush-collapseTwo"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingTwo"
            data-bs-parent="#accordionFlushCourses"
          >
            <div class="accordion-body">
              We work on creating a bigger vocabulary, with more technique to
              make it more comfortable and fluid. Focus is ganchos, sacadas,
              musicality, volcadas, colgadas, waltz, improvisation.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingThree">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseThree"
              aria-expanded="false"
              aria-controls="flush-collapseThree"
            >
              Technique classes
            </button>
          </h2>
          <div
            id="flush-collapseThree"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingThree"
            data-bs-parent="#accordionFlushCourses"
          >
            <div class="accordion-body">
              Having a better technique enables you to be strong, keep your
              balance and connect within your own body when dancing. Our goal is
              to make you feel strong, stable, confident and beautiful.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingFour">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseFour"
              aria-expanded="false"
              aria-controls="flush-collapseFour"
            >
              Private classes
            </button>
          </h2>
          <div
            id="flush-collapseFour"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingFour"
            data-bs-parent="#accordionFlushCourses"
          >
            <div class="accordion-body">
              Training your technique together with a teacher, or your partner,
              practicing connection in yourself and with your partner, with a
              broader repertoar, playing with dynamics and rythmics.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <img
        src="../../assets/images/4 recortados sajpadu color.png"
        alt=""
        class="fit-image"
      />
    </div>
  </div>
</div>

<!--<div class="columns">
    <div class="column">
        <div>
            <h2>Beginner Class</h2>
            <div>

            </div>
        </div>
        <div>
            <h2>Intermediate Class</h2>
            <div>

            </div>
        </div>
        <div>
            <h2>Technique Class</h2>
            <div>

            </div>
        </div>
        <div>
            <h2>Private Class</h2>
            <div>

            </div>
        </div>
        
    </div>
    <div class="column">
        <img src="../../assets/images/4 recortados sajpadu color.png" alt="">
    </div>
</div>
-->
