.courses {
  padding: 1rem;
  max-width: 1024px;
  margin: 0 auto;
}

h1 {
  margin-top: 0;
}

.fit-image {
  /*width: 100%;*/
  object-fit: cover;
  height: 500px; /* only if you want fixed height */
}

.accordion-button.collapsed {
  font-size: 1.25rem;
  font-weight: 300;
  font-family: var(--bs-font-sans-serif);
}

.accordion-button:not(.collapsed) {
  color: #fff !important;
  background-color: var(--purple) !important;
  border-radius: 10px;
  font-family: var(--bs-font-sans-serif);
  font-size: 1.25rem;
  font-weight: 500;
}

.accordion-button:link,
.accordion-button:visited,
.accordion-button:hover,
.accordion-button:active {
  background-color: var(--purple);
  color: #fff !important;
  text-decoration: none !important;
  border: hidden !important;
  border-color: #fff !important;
  box-shadow: 0px !important;
  border-radius: 10px !important;
}

.accordion-button:focus {
  z-index: 3;
  border-color: #fff !important;
  outline: 0;
  box-shadow: 0 0 0 0.25rem #fff !important;
  border-radius: 10px;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23976391'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  transform: rotate(180deg);
  border-radius: 10px;
}
