.contact {
  padding: 1rem;
  max-width: 1024px;
  margin: 0 auto;
}

.first,
.second {
  width: 100%;
}
.second {
  position: relative;
  background: black;
  height: 320px;
  color: white;
}
.third {
  position: absolute;
  width: 100px;
  right: 635px;
  bottom: 150px;
}

.fit-image {
  /*width: 100%;*/
  object-fit: cover;
  height: 300px; /* only if you want fixed height */
  margin: 0 40px 0 0px;
}

.email {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
}

.copyright {
  position: relative;
  top: 130px;
  left: 10%;
  color: #6d6e71;
}

.footer {
  padding: 1rem;
  max-width: 1024px;
  margin: 0 auto;
}

/******************* SOCIAL MEDIA ICONS *******************/

.icon {
  position: relative;
  text-align: center;
  width: 0px;
  height: 0px;
  padding: 20px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  -webkit-border-radius: 20px 20px 20px 20px;
  -khtml-border-radius: 20px 20px 20px 20px;
  color: #ffffff;
}
.icon i.fb-position {
  font-size: 20px;
  position: absolute;
  left: 13px;
  top: 10px;
}

.icon i.in-position {
  font-size: 20px;
  position: absolute;
  left: 11px;
  top: 10px;
}

.icon i.you-position {
  font-size: 20px;
  position: absolute;
  left: 9px;
  top: 10px;
}

.icon.social {
  float: left;
  margin: 20px 10px 0 0;
  cursor: pointer;
  background: #6d6e71;
  color: #262626;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
}
.icon.social:hover {
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
}

.icon.social.you:hover {
  background: #cb2027;
  color: white;
}

.icon.social.fb:hover {
  background: #3b5998;
  color: white;
}

.icon.social.in:hover {
  background: #cd486b;
  color: white;
}

.fb-position {
  left: 18px;
  top: 100px;
}
.icon.social.in a {
  left: 11px;
}
.icon.social.you a {
  left: 9px;
}

/***********************************/

@media only screen and (min-width: 0px) and (max-width: 999px) {
  .fit-adress {
    display: relative;
    text-align: center;
  }

  .second {
    display: relative;
    text-align: center;
  }

  .third {
    display: none;
  }

  .fit-adress {
    /*width: 100%;*/
    margin: 0 40px 0 0;
    padding: 1rem;
    max-width: 1024px;
    font-size: 20px;
    font-weight: 200;
  }

  .email {
    font-size: 1rem;
  }

  .demopadding {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
  }

  .copyright {
    position: relative;
    top: 100px;
    left: 0%;
    font-size: 12px;
  }
}
@media only screen and (min-width: 1000px) and (max-width: 1300px) {
  .third {
    display: none;
  }
}
