.contact {
  padding: 1rem;
  max-width: 1024px;
  margin: 0 auto;
}

.contact-background {
  background: white;
  color: black;
  max-width: 100%;
}

.fit-image {
  /*width: 100%;*/
  object-fit: cover;
  height: 300px; /* only if you want fixed height */
  width: 500px;
  margin: 0 40px 0 0px;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.01), 0 4px 4px hsl(0deg 0% 0% / 0.01),
    0 8px 8px hsl(0deg 0% 0% / 0.01), 0 16px 16px hsl(0deg 0% 0% / 0.01);
}

.fit-adress {
  /*width: 100%;*/
  margin: 0 40px 0 10px;
}

.form-fit {
  width: 90%;
  margin: 10px 10px 0 40px;
  padding: 30px;
}

.contact-us {
  margin: 0px 10px 0 70px;
}

.contact-form-control {
  margin: 0 0 20px 0;
  padding: 20px;
  border-radius: 20px;
  border-color: transparent;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.01), 0 4px 4px hsl(0deg 0% 0% / 0.01),
    0 8px 8px hsl(0deg 0% 0% / 0.01), 0 16px 16px hsl(0deg 0% 0% / 0.01);
  border-radius: 10px;
}

.message-text {
  border-radius: 20px;
  border-color: transparent;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.01), 0 4px 4px hsl(0deg 0% 0% / 0.01),
    0 8px 8px hsl(0deg 0% 0% / 0.01), 0 16px 16px hsl(0deg 0% 0% / 0.01);
  border-radius: 10px;
}

.submit-btn {
  padding: 10px 30px;
  font-weight: 600;
  margin: 20px 0 0 130px;
}

.first,
.second {
  width: 100%;
}
.second {
  position: relative;
  background: black;
  height: 320px;
  color: white;
}
.third {
  position: absolute;
  width: 100px;
  right: 635px;
  bottom: 150px;
}

a {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
}

.social-media {
  background-color: aqua;
  color: yellow;
  background: purple;
  height: 30px;
}

.content {
  position: absolute;
  top: 50%;
  left: 220px;

  display: block;
}

.icon {
  height: 50px;
  width: 50px;
  border: 3px solid white;
  border-radius: 50%;
  text-align: center;
  color: white;
  display: inline-block;
  vertical-align: middle;
  line-height: 65px;
  margin-right: 10px;
  z-index: 10;
  -moz-box-shadow: 4px 0px 20px rgba(68, 68, 68, 0.4);
  -webkit-box-shadow: 4px 0px 20px rgba(68, 68, 68, 0.4);
  box-shadow: 4px 0px 20px rgba(68, 68, 68, 0.4);
  cursor: pointer;
}

.facebook .background_circle {
  display: none;
  width: 52px;
  height: 54px;
  position: absolute;
  border-radius: 50%;
  top: 0;
  left: 1;
  z-index: -1;
  background-color: #3b5998;
}

.twitter .background_circle {
  display: none;
  width: 52px;
  height: 54px;
  position: absolute;
  border-radius: 50%;
  top: 0;
  left: 1;
  z-index: -1;
  background-color: #55acee;
}

.instagram .background_circle {
  display: none;
  width: 52px;
  height: 54px;
  position: absolute;
  border-radius: 50%;
  top: 0;
  left: 1;
  z-index: -1;
  background-color: #cd486b;
}

.pinterest .background_circle {
  display: none;
  width: 52px;
  height: 54px;
  position: absolute;
  border-radius: 50%;
  top: 0;
  left: 1;
  z-index: -1;
  background-color: #cb2027;
}

.facebook:hover,
.facebook:active {
  background-color: #3b5998;
}

.twitter:hover,
.twitter:active {
  background-color: #55acee;
}

.instagram:hover,
.instagram:active {
  background-color: #cd486b;
}

.pinterest:hover,
.pinterest:active {
  background-color: #cb2027;
}
