<div class="contact">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Contact</h1>
      <p class="lead">
        Feel free to ask us anything you want and our team will do their best to
        get back to you as soon as possible. And you are always welcome to say
        just “hi”.
      </p>
      <hr class="my-4" />
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="fit-adress">
        <p class="lead">Adress:</p>
        <p>
          Entréskolan
          <br />
          Lövholmsvägen 61, 117 65 Stockholm
        </p>
        <img
          class="fit-image"
          src="assets/images/map.jpg"
          alt="map for finding Entré skolan"
        />
      </div>
    </div>
    <div class="col-lg-6">
      <div class="fit-adress contact-us">
        <p class="lead">Get in touch</p>
      </div>
      <form class="form-fit">
        <div class="form-group">
          <input
            type="name"
            class="form-control contact-form-control"
            id="inputFullName"
            placeholder="Full Name"
          />
        </div>
        <div class="form-group">
          <input
            type="email"
            class="form-control contact-form-control"
            id="inputEmail"
            aria-describedby="emailHelp"
            placeholder="Email"
          />
        </div>
        <div class="form-group">
          <textarea
            class="form-control message-text"
            id="message"
            rows="5"
            placeholder="Your message"
            required
          >
          >
          </textarea>
        </div>
        <button type="submit" class="btn submit-btn">Submit</button>
      </form>
    </div>
  </div>
</div>
