<div class="first">
  <div class="contact">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <div class="component-title">
          <h1 class="display-4 component-title">Contact</h1>
        </div>
        <p class="lead">
          Feel free to ask us anything you want and our team will do their best
          to get back to you as soon as possible. And you are always welcome to
          pass by
          <span class="somos"> Somos Tango Stockholm</span>
          to say just “hi”.
        </p>
        <hr class="my-4" />
        <div class="fit-adress">
          <p class="lead"><strong>Address</strong></p>
          <p>
            Entréskolan
            <br />
            Lövholmsvägen 61
            <br />
            117 65 Stockholm
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="second">
  <div class="container">
    <div class="footer">
      <br /><br />
      <h2>GET IN TOUCH</h2>
      <a class="email somos" href="mailto: somostangostockholm@gmail.com"
        >somostangostockholm@gmail.com</a
      >
      <!----------------------------------------------------------->
      <div class="demopadding">
        <a
          class="icon social fb"
          href="https://www.facebook.com/somos.tango.S"
          target="_blank"
        >
          <i class="fa fa-facebook fb-position"></i>
        </a>
        <a
          class="icon social in"
          href="https://www.instagram.com/somos.tango.stockholm/"
          target="_blank"
        >
          <i class="fa fa-instagram in-position"></i>
        </a>
        <a
          class="icon social you"
          href="https://www.youtube.com/channel/UCSJq3qAESSI0XYiYDrF9YDg"
          target="_blank"
        >
          <i class="fa fa-youtube-play you-position"></i>
        </a>
      </div>
    </div>
    <footer class="copyright">
      <small
        >&copy;Copyright {{ anio }} Somos Tango Stockholm. All rights
        reserved.</small
      >
    </footer>
  </div>
  <div class="third">
    <img
      class="fit-image"
      src="assets/images/map.jpg"
      alt="map for finding Entré skolan"
    />
  </div>
</div>
