<div class="prices-container">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Pricing</h1>
      <hr class="my-4" />
      <div class="row">
        <div class="card col-lg-3 margin-card">
          <div class="card-body">
            <h5 class="card-title">Level 1-2</h5>
            <p class="card-text">
              Beginner classes. No previous experience needed. Choose between
              drop in and klippkort.
            </p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <span class="price">150 SEK</span> / class
            </li>
            <li class="list-group-item">
              <span class="price">1200 SEK</span> / 10 classes
            </li>
          </ul>
          <div class="card-body">
            <a href="#" class="btn btn-styling">Let's get started</a>
          </div>
        </div>
        <div class="card col-lg-3 margin-card">
          <div class="card-body">
            <h5 class="card-title">Level 3-5</h5>
            <p class="card-text">
              Intermediate and advanced classes. Including the niched milonga
              and alternative classes.
            </p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <span class="price">260 SEK</span> / class
            </li>
            <li class="list-group-item">
              <span class="price">2000 SEK</span> / 10 classes
            </li>
          </ul>
          <div class="card-body">
            <a href="#" class="btn btn-styling">Book</a>
          </div>
        </div>
        <div class="card col-lg-3 margin-card">
          <div class="card-body">
            <h5 class="card-title">Practica</h5>
            <p class="card-text">
              Join our After Work practica on Tuesdays, or the long practica on
              Saturdays. Practice makes perfect!
            </p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <span class="price">80 SEK</span> / Tuesday
            </li>
            <li class="list-group-item">
              <span class="price">120 SEK</span> / Saturday
            </li>
          </ul>
          <div class="card-body">
            <a href="#" class="btn btn-styling">Contact us</a>
          </div>
        </div>
        <div class="card col-lg-3 margin-card">
          <div class="card-body">
            <h5 class="card-title">Private classes</h5>
            <p class="card-text">
              Get full attention. Choose between buying one hour at a time, or a
              package of 10 classes using our klippkort.
            </p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <span class="price">800 SEK</span> / class
            </li>
            <li class="list-group-item">
              <span class="price">1900 SEK</span> / 10 classes
            </li>
          </ul>
          <div class="card-body">
            <a href="#" class="btn btn-styling">Contact us</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
