<div class="component">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <div class="component-title">
        <h1 class="display-4 component-title">Prices</h1>
      </div>
      <hr class="my-4" />
      <div class="row">
        <div class="card col-lg-3 margin-card">
          <div class="card-body">
            <h5 class="card-title">Level 1-2</h5>
            <p class="card-text">
              <span class="beginnerText">Beginner</span> classes. No previous
              experience needed. Choose between drop in and klippkort.
            </p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <span class="price">150 SEK</span> / class
            </li>
            <li class="list-group-item">
              <span class="price">1200 SEK</span> / 10 classes
            </li>
          </ul>
          <div class="card-body">
            <a href="#contact" class="mybtn mybtn-beginner"
              >Let's get started</a
            >
          </div>
        </div>
        <div class="card col-lg-3 margin-card">
          <div class="card-body">
            <h5 class="card-title">Level 3-5</h5>
            <p class="card-text">
              <span class="intermediateText">Intermediate</span> and
              <span class="advancedText">Advanced</span> classes. Including
              theme classes. Choose between drop in and klippkort.
            </p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <span class="price">260 SEK</span> / class
            </li>
            <li class="list-group-item">
              <span class="price">2000 SEK</span> / 10 classes
            </li>
          </ul>
          <div class="card-body">
            <a href="#contact" class="mybtn mybtn-intadv">Contact us</a>
          </div>
        </div>
        <div class="card col-lg-3 margin-card">
          <div class="card-body">
            <h5 class="card-title">Practica</h5>
            <p class="card-text">
              Join our After Work practica on Tuesdays, or the long practica on
              Saturdays. Practice makes perfect!
            </p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <span class="price">80 SEK</span> / Tuesday
            </li>
            <li class="list-group-item">
              <span class="price">120 SEK</span> / Saturday
            </li>
          </ul>
          <div class="card-body">
            <a href="#contact" class="mybtn mybtn-alllevels">Contact us</a>
          </div>
        </div>
        <div class="card col-lg-3 margin-card">
          <div class="card-body">
            <h5 class="card-title">Private classes</h5>
            <p class="card-text">
              Get full attention. Choose between buying one hour at a time, or a
              normal/combo package of 3 classes.
            </p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <span class="price">800 SEK</span> / hour
            </li>
            <li class="list-group-item">
              <span>Normal package</span>
              <br />
              <span class="price">1900 SEK</span> / 3 hours
            </li>
            <li class="list-group-item">
              <span>Combo package</span>
              <br />
              <span class="price">2000 SEK</span> / 3 hours
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
