.logo {
  position: absolute;
  z-index: 20;
  top: 32%;
  text-align: center;
  width: 100%;
  display: block;
  margin: auto;
}

.logo img {
  width: 300px;
}

#hero {
  height: 100vh;
  width: 100vh;
  /* background: rgb(89, 6, 89);*/
  display: flex;
  align-items: center; /*center vertically*/
  justify-content: center; /*center horizontally*/
}

#hero video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  object-fit: cover;
  font-family: "object-fit: cover"; /*Object fit cover for Internet explorer - not applied */
}

#hero::after {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(
    0,
    0,
    0,
    0.7
  ); /*0,0,0 = black, 0.1 seethrough/opacity where 0 is 100% seethrough, and 1 is 0% seethrough*/
  z-index: 10;
}

#hero .texture {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 15;
  /* background: url("../assets/images/filters/cross-stripes.png");*/
}

#hero .caption {
  z-index: 20;
  color: var(--amber);
}

#hero .caption h1 {
  position: relative;
  text-transform: uppercase;
  font-size: 2em;
  font-family: "Oswald", sans-serif;
  margin-bottom: 0.5rem;
  text-align: center;
}

#hero .caption h2 {
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "PT Sans", sans-serif;
  margin: 0;
}

#hero .caption h1 a,
#hero .caption h2 a {
  text-decoration: none; /* no underline */
  color: var(--amber);
}

nav {
  position: sticky;
  top: 0;
  right: 0;
  z-index: 20;
  background-color: white; /*var(--navbar-scroll);*/
  transition: background-color 0.9s ease-in;
}

nav .container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
}

nav .container ul {
  margin: 0;
}

nav .container ul li {
  display: inline-block;
  border-radius: 5px;
  background-color: black;
  border-radius: 30px;
  margin: 5px;
  width: 95px;
}

nav .container ul li:hover {
  background-color: var(--green);
  color: #ffffff;
}

nav .container ul li a {
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  color: white;
  font-family: "PT Sans", sans-serif;
}

nav .container ul li.active {
  background-color: var(--blue);
  border-radius: 30px;
  transition: 0.3s;
}
nav .container ul li.active a {
  color: #ffffff;
}

@media screen and (min-width: 0px) and (max-width: 369px) {
  .nav-big-screen {
    display: none;
  }

  .logo {
    top: 25%;
  }

  #hero {
    display: none;
  }

  .hero-background {
    height: 50vh;
    width: 100%;
    background: var(--amber);
    display: flex;
    align-items: center; /*center vertically*/
    justify-content: center; /*center horizontally*/
    /*background-image: url("../assets");*/
  }

  .caption {
    display: none;
  }
}

@media screen and (min-width: 370px) and (max-width: 640px) {
  .logo {
    top: 25%;
  }

  .nav-big-screen {
    display: none;
  }

  #hero {
    display: none;
  }

  .hero-background {
    height: 50vh;
    width: 100%;
    background: var(--amber);
    display: flex;
    align-items: center; /*center vertically*/
    justify-content: center; /*center horizontally*/
    /*background-image: url("../assets");*/
  }

  .caption {
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 641px) and (max-width: 711px) {
  .logo {
    top: 25%;
  }
  .nav-big-screen {
    display: none;
  }

  #hero {
    display: none;
  }

  .hero-background {
    height: 50vh;
    width: 100%;
    background: var(--amber);
    display: flex;
    align-items: center; /*center vertically*/
    justify-content: center; /*center horizontally*/
    /*background-image: url("../assets");*/
  }

  .caption {
    padding-bottom: 150px;
  }
}

@media screen and (min-width: 712px) and (max-width: 767px) {
  .nav-small-screen {
    display: none;
  }

  .logo {
    top: 17%;
  }

  #hero {
    display: none;
  }

  .hero-background {
    height: 50vh;
    width: 100%;
    background: var(--amber);
    display: flex;
    align-items: center; /*center vertically*/
    justify-content: center; /*center horizontally*/
    /*background-image: url("../assets");*/
  }

  .caption {
    padding-bottom: 150px;
  }
}

@media screen and (min-width: 768px) {
  .nav-small-screen {
    display: none;
  }

  #hero .caption h1 {
    font-size: 3rem;
  }

  #hero .caption h2 {
    font-size: 2rem;
  }

  .hero-background {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  #hero .caption h1 {
    font-size: 4rem;
  }

  #hero .caption h2 {
    font-size: 2.5rem;
  }
}
