<span id="home">
  <div class="logo">
    <a href="./app.component.html">
      <img src="../assets/images/WhatsAppLogo.jpeg" width="200" alt="Logo" />
    </a>
  </div>
  <div id="hero">
    <video [muted]="true" loop autoplay preload="auto">
      <source src="./assets/videos/SomosCompressedHero.mp4" type="video/mp4" />
      Your browser does not support the video tag
    </video>
    <!--<div class="texture"></div>-->
    <div class="caption">
      <h1 class="animate__animated animate__zoomInLeft">
        Somos Tango Stockholm
      </h1>
      <h2 class="animate__animated animate__fadeInUp animate__delay-2s">
        Together
      </h2>
    </div>
  </div>
  <nav>
    <div class="container">
      <ul>
        <li class="home active"><a href="#home">Home</a></li>
        <li class="schedule"><a href="#schedule">Schedule</a></li>
        <li class="courses"><a href="#courses">Courses</a></li>
        <li class="prices"><a href="#prices">Prices</a></li>
        <li class="about"><a href="#about">About</a></li>
        <li class="contact"><a href="#contact">Contact</a></li>
      </ul>
    </div>
  </nav>
</span>

<section><app-schedule id="schedule"></app-schedule></section>
<section><app-courses id="courses"></app-courses></section>
<section><app-prices id="prices"></app-prices></section>
<section><app-about id="about"></app-about></section>
<section><app-contact id="contact"></app-contact></section>
