<span id="home">
  <div class="logo">
    <a href="#schedule">
      <img
        class="rounded-logo"
        src="assets/images/somos-tango-logo-web.png"
        width="200"
        alt="Somos Tango Stockholm Logo"
      />
    </a>
  </div>

  <div id="hero">
    <video [muted]="true" loop autoplay preload="auto">
      <source src="./assets/videos/SomosCompressedHero.mp4" type="video/mp4" />
      Your browser does not support the video tag
    </video>
    <!--<div class="texture"></div>-->
    <div class="caption">
      <h1 class="animate__animated animate__zoomInLeft">
        <a href="#schedule"> Somos Tango Stockholm</a>
      </h1>
      <h2 class="animate__animated animate__fadeInUp animate__delay-2s">
        <a href="#schedule"> together</a>
      </h2>
    </div>
  </div>
  <nav>
    <div class="container">
      <ul>
        <li class="home"><a href="#home">Home</a></li>
        <li class="schedule"><a href="#schedule">Schedule</a></li>
        <li class="courses"><a href="#courses">Courses</a></li>
        <li class="prices"><a href="#prices">Prices</a></li>
        <li class="about"><a href="#about">About</a></li>
        <li class="contact"><a href="#contact">Contact</a></li>
      </ul>
    </div>
  </nav>
</span>
<div class="hero-background">
  <div class="caption">
    <h2>welcome</h2>
    <h2 class="animate__animated animate__fadeInDown">together we create</h2>
    <h1 class="animate__animated animate__zoomInLeft animate__delay-2s">
      Somos Tango Stockholm
    </h1>
  </div>
</div>

<section class="hidden"><app-schedule id="schedule"></app-schedule></section>
<section class="hidden"><app-courses id="courses"></app-courses></section>
<section class="hidden"><app-prices id="prices"></app-prices></section>
<section class="hidden"><app-about id="about"></app-about></section>
<section class="hidden"><app-contact id="contact"></app-contact></section>
