* {
  box-sizing: border-box;
}

.schedule {
  /*font-family: Poppins, sans-serif;*/
  background: #fff;
  padding: 1rem;
  margin: 0 auto;
  max-width: 1024px;
}

#timetable {
  font-family: Poppins, sans-serif;
}

.container {
  margin-right: auto;
  margin-left: auto;
}

.timetable {
  padding: 0;
}

.timetable > li {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  list-style-type: none;
  height: 100%;
  width: 100%;
  max-width: 100%;
  padding: 0.4rem 0 0.4rem 0.7rem;
  margin: 1px;
}
.timetable > li abbr {
  font-size: 0;
  font-weight: 100;
}
.timetable > li abbr:after {
  content: attr(title);
  font-size: 2rem;
}

.timetable > li:before {
  font-size: 1rem;
}
@supports (display: grid) {
  .timetable > li {
    max-width: 100%;
  }
}
.timetable .day-title {
  border: none;
  align-items: center;
  width: 100%;
}
.class-title {
  font-style: bold;
  font-size: 1.1rem;
  text-transform: uppercase;
}
.class-title-sm {
  font-size: 0.9rem;
}
.class-time {
  font-size: 1rem;
}

.class-teacher {
  font-size: 0.9rem;
  font-style: italic;
}

.timetable .purple {
  background: var(--purple);
}
.timetable .amber {
  background: var(--amber);
}
.timetable .green {
  background: var(--green);
}
.timetable .blue {
  background: var(--blue);
}
.timetable .fuschia {
  background: var(--fuschia);
}

.timetable .mixed-color {
  background: conic-gradient(
    var(--fuschia) 0deg 45deg,
    var(--purple) 45deg 225deg,
    var(--fuschia) 225deg 360deg
  );
}
.timetable .danceclass {
  box-shadow: 0 0 1x rgba(0, 0, 0, 0.1);
}

@media only screen and (min-width: 0px) and (max-width: 636px) {
  .danceclass {
    text-align: center;
  }

  .timetable {
    grid-template-columns: repeat(auto-fit, minmax(/*330 */ 210px, 1fr));
    grid-auto-rows: minmax(min-content, 1fr);
    grid-gap: 5px;
    color: white;
  }

  .timetable .day-title {
    border: none;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: -1;
    color: black;
  }

  .timetable > li {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0.3rem;
    margin: 1px;
  }

  .timetable > li abbr {
    font-size: 0;
  }
  .timetable > li abbr:after {
    content: attr(title);
    font-size: 2rem;
  }

  .timetable > li:before {
    font-size: 1rem;
  }
  .timetable > div {
    display: none;
  }

  /*
  .timetable > li {
  }
  */
}

@media only screen and (min-width: 637px) and (max-width: 991px) {
  .timetable {
    display: grid;
    grid-template-columns: repeat(2, minmax(210px, 50%));
    grid-auto-rows: minmax(min-content, 1fr);
    grid-gap: 5px;
    color: white;
  }
  .timetable .day-title {
    border: none;
    align-items: center;
    grid-column-start: 1/3;
    grid-column-end: 1;
    color: black;
  }

  .timetable > li {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 400px;
    padding: 0.3rem;
    margin: 1px;
  }

  .timetable > li abbr {
    font-size: 0;
  }
  .timetable > li abbr:after {
    content: attr(title);
    font-size: 2rem;
  }

  .timetable > li:before {
    font-size: 1rem;
  }
  .timetable > div {
    display: none;
  }

  .danceclass {
    text-align: center;
  }
}

@media only screen and (min-width: 992px) {
  .timetable {
    display: grid;
    grid-template-columns: repeat(6, minmax(150px, 180px));
    grid-template-rows: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 6px;
    grid-auto-flow: column;
  }
  .day-title {
    grid-row-end: 2;
  }
  .timetable > li {
    line-height: 1.15rem;
  }
  .timetable > li abbr {
    font-size: 1.7rem;
    font-weight: 100;
  }
  .timetable > li abbr:after {
    content: attr(title);
    font-size: 0;
  }

  .timetable .danceclass {
    transition: all 0.35s ease;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .timetable .danceclass:hover {
    transition: all 0.2s ease-out;
    -webkit-transform: scale(0.96);
    transform: scale(0.96);
    cursor: pointer;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .danceclass {
    color: white;
  }
}
