<div class="schedule">
  <div class="jumbotron jumbotron-fluid blacktext">
    <div class="container">
      <div class="component-title">
        <h1 class="display-4 component-title">Schedule</h1>
      </div>
      <hr class="my-4" />
    </div>
  </div>

  <section id="timetable">
    <div class="container">
      <ol class="timetable">
        <li id="Monday" class="day-title">
          <abbr title="Monday">Monday</abbr>
        </li>

        <li class="danceclass fuschia">
          <span class="class-title"><strong>Intermediate</strong> </span>
          <span class="class-time">18:00-19:15</span
          ><span class="class-lvl">Level 3</span>
          <span class="class-teacher">Sara & Adrian</span>
        </li>

        <li class="danceclass fuschia">
          <span class="class-title"><strong>Milonga</strong></span>
          <span class="class-time">19:30-20:45</span>
          <span class="class-lvl">Level 3</span>
          <span class="class-teacher">Juampi & Dulce</span>
        </li>

        <li id="Tuesday" class="day-title">
          <abbr title="Tuesday">Tuesday</abbr>
        </li>

        <li class="danceclass purple">
          <span class="class-title"><strong>Advanced</strong></span>
          <span class="class-time">18:00-19:15</span>
          <span class="class-lvl">Level 5</span>
          <span class="class-teacher">Juampi & Sara</span>
        </li>

        <li class="danceclass green">
          <span class="class-title">
            <strong> Practica </strong>
            <br />
            <span class="class-title-sm"> All levels</span>
          </span>
          <span class="class-time">19:30-21:00</span>
        </li>

        <li id="Wednesday" class="day-title">
          <abbr title="Wednesday">Wednesday</abbr>
        </li>

        <li class="danceclass blue">
          <span class="class-title"><strong>Beginner</strong> </span>
          <span class="class-time">18:00-19:15</span
          ><span class="class-lvl">Level 1</span>
          <span class="class-teacher">Adrian & Dulce</span>
        </li>

        <li class="danceclass mixed-color">
          <span class="class-title"
            ><strong>Intermediate <br />/Advanced</strong></span
          >
          <span class="class-time">19:30-20:45</span>
          <span class="class-lvl">Level 4</span>
          <span class="class-teacher">Adrian & Dulce</span>
        </li>

        <li id="Thursday" class="day-title">
          <abbr title="Thursday">Thursday</abbr>
        </li>

        <li class="danceclass green">
          <span class="class-title">
            <strong> Technique </strong>
            <br />
            <span class="class-title-sm"> All levels</span>
          </span>
          <span class="class-time">18:00-19:15</span>
          <span class="class-teacher">Sara & Dulce</span>
        </li>

        <li class="danceclass mixed-color">
          <span class="class-title"><strong>Alternative</strong></span>
          <span class="class-time">19:30-20:45</span>
          <span class="class-lvl">Level 4/5</span>
          <span class="class-teacher">Adrian & Dulce</span>
        </li>

        <li id="Friday" class="day-title">
          <abbr title="Friday">Friday</abbr>
        </li>

        <li class="danceclass blue">
          <span class="class-title"><strong>Beginner</strong> </span>
          <span class="class-time">18:00-19:15</span
          ><span class="class-lvl">Level 1/2</span>
          <span class="class-teacher">Juampi & Dulce/Sara</span>
        </li>
        <div></div>

        <li id="Saturday" class="day-title">
          <abbr title="Saturday">Saturday</abbr>
        </li>

        <li class="danceclass beginner green">
          <span class="class-title"
            ><strong>Mini-Workshop</strong>
            <br />
            <span class="class-title-sm"> All levels</span></span
          >
          <span class="class-time">15:00-15:30</span>
        </li>

        <li class="danceclass beginner green">
          <span class="class-title"
            ><strong>Practica</strong>
            <br />
            <span class="class-title-sm"> All levels</span></span
          >
          <span class="class-time">15:30-18:00</span>
        </li>
      </ol>
    </div>
  </section>
</div>

<!--     
(click)="openModal('monday1')"


  <ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Intermediate class</h4>
    <button
      type="button"
      class="close btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    At this level, we help you become a confident social dancer. We will cover
    the elements that show up in the milonga as well as different combinations
    between them. You will also adventure into different dynamics and qualities,
    focusing on clean execution and strong communication with your partner.
    <br />
    <br />
    To be able to follow this class comfortably and to be a suitable partner for
    your classmates to practice with, It is important that you have spent enough
    time in the beginner courses (Tango 1 and Tango ½). Some experience and
    understanding of the fundamentals are required.
  </div>
</ng-template>

 (click)="openModal('one')"
 -->
