<div class="schedule">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Schedule</h1>
      <hr class="my-4" />
    </div>
  </div>

  <section id="timetable">
    <div class="container">
      <ol class="timetable">
        <li id="Monday" class="day-title"><abbr title="Måndag">Mo</abbr></li>

        <div></div>
        <div></div>

        <li class="danceclass fuschia">
          <span class="class-title"><strong>Intermediate</strong> </span>
          <span class="class-time">18:00-19:15</span
          ><span class="class-lvl">Level 3</span>
          <span class="class-teacher">Sara & Adrian</span>
        </li>

        <li class="danceclass fuschia">
          <span class="class-title"><strong>Milonga</strong></span>
          <span class="class-time">19:00-20:00</span>
          <span class="class-lvl">Level 3</span>
          <span class="class-teacher">Juampi & Dulce</span>
        </li>

        <li id="Tuesday" class="day-title"><abbr title="Tisdag">Tu</abbr></li>

        <div></div>
        <div></div>

        <li class="danceclass purple">
          <span class="class-title"><strong>Advanced</strong></span>
          <span class="class-time">18:00-19:15</span>
          <span class="class-lvl">Level 5</span>
          <span class="class-teacher">Juampi & Sara</span>
        </li>

        <li class="danceclass amber">
          <span class="class-title">
            <strong> Practica </strong>
            <br />
            <span class="class-title-sm"> All levels</span>
          </span>
          <span class="class-time">19:30-21:00</span>
        </li>

        <li id="Wednesday" class="day-title">
          <abbr title="Onsdag">We</abbr>
        </li>

        <div></div>
        <div></div>

        <li class="danceclass blue">
          <span class="class-title"><strong>Beginner</strong> </span>
          <span class="class-time">18:00-19:15</span
          ><span class="class-lvl">Level 1</span>
          <span class="class-teacher">Adrian & Dulce</span>
        </li>

        <li class="danceclass mixed-color">
          <span class="class-title"
            ><strong>Intermediate <br />/Advanced</strong></span
          >
          <span class="class-time">19:30-21:00</span>
          <span class="class-lvl">Level 4</span>
          <span class="class-teacher">Adrian & Dulce</span>
        </li>

        <li id="Thursday" class="day-title">
          <abbr title="Torsdag">Th</abbr>
        </li>

        <div></div>
        <div></div>

        <li class="danceclass amber">
          <span class="class-title">
            <strong> Technique </strong>
            <br />
            <span class="class-title-sm"> All levels</span>
          </span>
          <span class="class-time">18:00-19:15</span>
        </li>

        <li class="danceclass mixed-color">
          <span class="class-title"><strong>Alternative</strong></span>
          <span class="class-time">19:30-21:00</span>
          <span class="class-lvl">Level 4/5</span>
          <span class="class-teacher">Adrian & Dulce</span>
        </li>

        <li id="Friday" class="day-title"><abbr title="Fredag">Fr</abbr></li>
        <div></div>
        <div></div>
        <li class="danceclass blue">
          <span class="class-title"><strong>Beginner</strong> </span>
          <span class="class-time">18:00-19:15</span
          ><span class="class-lvl">Level 1/2</span>
          <span class="class-teacher">Juampi & Dulce/Sara</span>
        </li>

        <li id="Saturday" class="day-title"><abbr title="Samstag">Sa</abbr></li>

        <li class="danceclass amber">
          <span class="class-title"
            ><strong>Mini-Workshop</strong>
            <br />
            <span class="class-title-sm"> All levels</span></span
          >
          <span class="class-time">14:00-14:45</span>
        </li>

        <li class="danceclass amber">
          <span class="class-title"
            ><strong>Practica</strong>
            <br />
            <span class="class-title-sm"> All levels</span></span
          >
          <span class="class-time">15:00-18:00</span>
        </li>
      </ol>
    </div>
  </section>
</div>
